/**
	*Description:This is for put style on canvas contents and controls
	*Color Reference:
	*white: #ffffff
    *dark grey: #373737
*/
.slider {
	margin: 39px 0px 0px 0px;
}
.sliderClass {
	margin: 1% 4% 0% 13% !important;
}
.submitBtns {
	padding: 3% 20%;
	width: 74%;
}
#fitDiscBtn {
	padding: 3% 13.5% !important;
}
#poweronBtn{
	cursor: pointer;
	margin: 18px 0px 0px 40px;
	width: 72%;
	}
	#fitDiscBtn{
	cursor: pointer;
	margin: 30px 0px 0px 40px;
	width: 72%;
		}
		.chkBoxText {
	
		margin: -30px 0px 19px 67px;
	font-size: 13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #373737;
	height: 14px;
 	display: table;
  	word-wrap: break-word;
	   width: 74%;
   text-align: left !important;
   table-layout: fixed;

}

.textIndend {
	margin: 27px 0px -2px 31px;
	font-size: 13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #373737;
	height: 14px;
 	display: table;
  	word-wrap: break-word;
	   width: 88%;
   text-align: left !important;
   table-layout: fixed;
   word-wrap: break-word;
}!important

 .box {
 margin: 43px 0px 50px 19px;
}
#checkBox {
	margin: 30px 226px 15px 40px;
}
#crossView {
/*	margin: -29px 61px 11px 46px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;*/
}
#dropdown {
	margin: 31px 4px 0px -106px;
}
#minimumRange {
	padding-left: 31px !important;
}
#maximumRange {
	padding-right: 27px !important;
}
#temperaturesRow1 {
	margin: 18px 0px 0px 38px;
	font-size: 13px;
	font-weight: bold;
}
#temperaturesRow2 {
	margin: 18px 0px 0px 38px;
	font-size: 13px;
	font-weight: bold;
}
#result {
	position: absolute;
	font-size: 15px;
	left: 53px;
	top: 725px;
}

#firstRow1 {
	width: 30%;
	display: inline;
}
#firstRow2 {
	width: 30%;
	display: inline;
	margin: 0px 0px 0px 64px;
}
#secondRow1 {
	width: 30%;
	display: inline;
}
#secondRow2 {
	width: 30%;
	display: inline;
	margin: 0px 0px 0px 64px;
}
.sliderIndent {
	cursor: pointer;
	margin: 6% 0% 0% 7% !important;
}
.captions {
	position: relative;
	left: 10px;
	top: 10px;
	z-index: 999;
	text-align: left;
	width: 100%;
	height: 100%;
}
.captions * {
	position: absolute;
}
@media (max-width: 1023px) {
#canvasBox .buttons {
	background: #ffffff !important;
	padding: 2% 3% !important;
	margin: 3px !important;
}
